body {
  background-color: #eff1f3;
}
.heading {
  font-family: "Times New Roman", Times, serif;
  color: #272727;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
